<section style="background-color: #F0F2F5;">
    <div class="container py-5">
        <div class="main-timeline">
            <div *ngFor="let moment of moments; let i = index" class="timeline" [class.left]="i % 2 === 0"
                [class.right]="i % 2 !== 0">
                <div class="card">
                    <div class="card-body p-4 d-flex justify-content-between align-items-center" [class.flex-row-reverse]="i % 2 !== 0">
                        <div>
                            <h3>{{ moment.title }}</h3>
                            <p class="mb-0">{{ moment.text }}</p>
                        </div>
                        <div class="timeline-badge" [ngStyle]="{'background-image': 'url(' + moment.image + ')'}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>